.header {
    background-color: rgb(46, 46, 46);
    height: 65px;
    
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    align-items: center;    
}

body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
        color: #fff;
    }


    @media (max-width:769px) {

        /* display: none; */
        transition: all 0.5s;
        z-index: 3;
        position: fixed;
        left: 0;
        top: -150%;
        width: 100%;
        height: 100vh;
        background-color: rgb(70, 70, 70);


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &.open {
            top: 0;
        }







    }


}


.burger {
    width: 60px;
    display: none;

    @media (max-width:769px) {
        display: block;
        z-index: 4;
    }

}




h1 {
    color: rgb(255, 255, 255);
    
}

.hero__box {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.hero__img {
    width: 800px;
    margin: 25px 0;

}

.hero__btm {
    padding: 25px;
    background-color: rgb(22, 22, 104);
    color: #fff;
    width: 150px;
    border-radius: 25px;
}


@media (max-width:769px) {
    .hero__img {
        width: 600px;
    }
}

@media (max-width:426px) {
    .hero__img {
        width: 350px;
    }
}




.new {}

.container {}

.new__title {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}

.new__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 15px; */
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.new__card1 {}

.new__card1-text {
    width: 550px;
    margin: 20px 0;
    margin: 0 auto;
    font-size: 18px;

}

.new__card-b {}

.new__card2 {}

.new__card2-img {}


.color {}

.container {}

.color__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.color__card {
    padding: 15px;
}

.color__card-img {}

.color__card-title {}

.color__card-text {}

@media (max-width:1024px) {
    .color__wrap {
        /* grid-template-columns: 1fr 1fr 1fr; */
    }




}

@media (max-width:769px) {
    .new__wrap {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .color__wrap {
        /* grid-template-columns: 1fr 1fr ; */
    }
}

@media (max-width:769px) {

    .color__wrap {
        /* grid-template-columns: 1fr  ; */
    }

}


@media (max-width:426px) {
    .new__card1-text {
        font-size: 20px;
        width: 350px;
    }







}


.wont {

}


.container {}

.wont__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.wont__card-1 {
    width: 500px;
    background-color: rgb(70, 53, 87);
    margin-left: 0;
    height: 500px;
}

.wont__card1-title {
    margin-top: 85px;
    font-size: 35px;
    color: #fff;
    margin-left: 25px;
}

.apple{
color: #fff;
font-size: 25px;
}

.wont__card1-trxt {
    color: #fff;
    margin: 25px 25px;
    text-align: left;
}


section{
    margin: 50px 0;
}
.wont__card1-btn {
    background-color: #fff;
    width: 120px;
    padding: 25px;
    margin-left: 30px;
    margin-top: 13px;
    border-radius: 25px;
}

.wont__card-2 {}

hr {
    background-color: #fff;
    color: #fff;
    height: 2px;
    width: 350px;
   margin-left: 20px;
}

.wont__card2-img {
    height: 490px;
}

body{
    color:white;
}

.color__hiro-wrap{

}

.hh11{
    font-size: 350px;
    text-align: center;
}



.footer {
    background-color: black;
    margin-top: 15px;
    height: 85px;
    padding: 10px;

}

.container {}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.footer__a {
    color: #fff;
}


.footer__img {}

.swiper {
    margin: 0 auto;
}

@media (max-width:769px) {

    .wont__card2-img {
        display: none;
    }

    .wont__card-1 {
        margin: 0 auto;
        width: 90%;
    }

    .wont__wrap {
        display: grid;
        grid-template-columns: 1fr !important;

        margin: 0 auto;
    }
 



}

@media (max-width:426px) {


    wont{
        height: 35vh;
    }
    
    hr {
        width:200px;

    }

    .footer{
        font-size: 13px;
    }

    .news__hiro__P{
       width: 80%;
    }
}


.news__hiro{
    text-align: center;
    color: #fff;
}

.news__hiro__title{
color: #fff;
}

.news__hiro__p{
    font-size: 18px;
}



.news__body{
    background-color: rgb(43, 43, 43);
}

.hiro__wrap{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 25px;
    width: 700px; 
}
.hiro__card {
    width: 250px;
    margin: 0 auto;
}
.hiro__card-img {
    width: 300px;
}
.hiro__card-text {
}
.hiro__card-btn {
    padding: 15px;
    background-color: blue;
    color: #fff;
    border-radius: 15px;
    width: 70px;
    
}

.color__hiro-wrap{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;
   
}

body{
    background-color: rgb(43, 43, 43);
}








